---
- name: "[{{ ansible_parent_role_names | first }}] Install app (Arch)"
  ansible.builtin.include_tasks: tasks_arch.yml
  when: ansible_facts['distribution'] == 'Archlinux'

- name: "[{{ ansible_parent_role_names | first }}] Install app (Ubuntu)"
  ansible.builtin.include_tasks: tasks_ubuntu.yml
  when: ansible_facts['distribution'] == 'Ubuntu'

- name: "[{{ ansible_parent_role_names | first }}] Ensure pre-stow folders exist"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/{{ item }}"
    state: directory
  loop: "{{ pre_stow_folders }}"

- name: "[{{ ansible_parent_role_names | first }}] Stow app configurations"
  stow:
    dir: "{{ playbook_dir }}/.."
    target: "{{ ansible_facts['user_dir'] }}"
    state: supress
    package: "{{ item }}"
  loop: "{{ packages_stow }}"
